*target*
*.jar
*.war
*.ear
*.class
*.sublime-workspace
*.sublime-project

#mac bullcrap
.DS_Store

# eclipse specific git ignore
.classpath
*.pydevproject
.project
.metadata
**/bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# files
**/history.xml


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Other folders
reactive_delivered
old
logs
